$navbar-default-bg: #073B15;

@import "bootstrap-sprockets";
@import "bootstrap";

#logo {
  float: left;
  font-size: 1.7em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -1px;
  font-weight: bold;
}

#logo:hover {
  color: #fff;
  text-decoration: none;
}

.navbar {
  border-radius: 0;
}

.center {
  text-align: center;
}

.jumbotron {
  background-image: asset-url('italy.jpeg');
  background-size: cover;
  height: 300px;
  background-position: bottom;
}

.jumbotron h1, .jumbotron h2 {
  color: white;
}

.btn-xlarge {
  border-radius: 2px;
  background-color: #586863;
  color: white;
}

.description {
  margin-top: 0;
}

.well a,
.colormatch a {
  color: #536147;
}

.chef_info {
  margin-top: 10px;
}
